@font-face {
    font-family: "poetsen";
    src: url(../fonts/poetsen.ttf);
}
@font-face {
    font-family: "light";
    src: url(../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Light.ttf);
}
@font-face {
    font-family: "medium";
    src: url(../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Medium.ttf);
}

.hero {
    background-image: url(../img/pexels-energepic-com-27411-110473.jpg);
    height: 90vh;
}

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}


h1 {
    font-family: "medium";
}

h2 {
    font-size: 1.5rem;
    font-family: "poetsen";
}

section {
font-size: 1rem;
font-family: "light";
}

h3 {
    font-family: "medium";
}

h4 {
    font-family: "medium";
}


label {
    font-size: 1rem;
    font-family: "light";
}

nav {
    font-family: "medium";
}

.nav-item {
	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @-webkit-keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  @keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  .card {
	-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  
  