h1 {
    font-family: "medium";
}

h2 {
    font-size: 1.5rem;
    font-family: "poetsen";
}

section {
font-size: 1rem;
font-family: "light";
}

h3 {
    font-family: "medium";
}

h4 {
    font-family: "medium";
}


label {
    font-size: 1rem;
    font-family: "light";
}