@font-face {
    font-family: "poetsen";
    src: url(../fonts/poetsen.ttf);
}
@font-face {
    font-family: "light";
    src: url(../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Light.ttf);
}
@font-face {
    font-family: "medium";
    src: url(../fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Medium.ttf);
}